@import (reference) '@sberbusiness/triplex-next/helpers/less/breakpoints.less';

.detailConfirm {
  width: 100% !important;
  max-width: calc(1008px - 32px * 2) !important; /* 944px */

  @media (max-width: @screen-sm-max) {
    max-width: calc(100vw - 16px * 2) !important;
  }
}

.prefillConfirm {
  width: 100% !important;
  max-width: calc(848px - 32px * 2) !important; /* 784px */

  @media (max-width: @screen-sm-max) {
    max-width: calc(100vw - 16px * 2) !important;
  }
}
