.basicRow {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
}

.labelContainer {
  width: 100%;
  padding-top: 0;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.requiredStar {
  color: #eb5757;
  margin-left: 2px;
}
